


   
    .footer1{
    
        margin-top: 50px;

        .info-footer{
            font-size: 20px;
            margin-right: 200px;
            float: right;
            
        }
    }

    .list-home{
        font-size: 30px;
        border: black 1px solid;
    }
