*{
    margin: 0;
    padding: 0;
}
header{

    background-image: url("ojos.jpg");
    object-fit: cover;

    .logo{
        position: relative;
        transform: translate(-50%, -0%);
        left: 50%;
        width: auto;
        box-shadow: rgb(202, 200, 199) 25px 28px 40px;
        border-radius: 8%;
        margin-bottom: 40px;
        opacity: 70%;
    }

        .hover{
            box-shadow: rgb(172, 175, 174) 20px 23px 37px;
           }
           
}

body{
   background-image: url("../imagenes/olas-en-la-orilla-del-mar-4609.jpg");
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   width: auto;
}