p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 30px;
    font-size: 20vw;
}


h1{
    position: relative;
    bottom: 300px;
    left: 500px;
    font-family: 'Dancing Script', cursive;
    font-size: 190px;
}
h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    letter-spacing: 9px;
    display: inline-block;
}

/* Pensaña moda */

.cont-moda{
    display: flex; 
    margin-top: 100px;
    margin-bottom: 100px;
   flex-direction: column;
   height: 100%;
   float: left;

   
   .item-consejos{
    border: solid 3px;
    margin: 30px;
    box-shadow: black;
    display: flex; 
    height: 100%;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
   }

}

/*Pestaña de contacto*/

.form{
    display: grid;
    grid-template-columns: 2;

    .form_t{
        width: 150px;
    }
}

    .form{
        margin-left: 200px;
    }

/*Pestaña vestidos*/

.title-vestidos p {
    font-size: 50px;
}

/*tabla talles*/

.sect-tt{
    margin: 70px;

    h2{
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
        letter-spacing: 20px;
    }

    tr{
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        border: black solid;
    }
    th{
        border: black solid;
    }
}

.container_maps{
    width: 100px;
    display: flex;
    flex-direction: row;

    .container_list{
        margin: 80px;

        .list-contact{
            font-family: 'Dancing Script', cursive;
        font-size: 40px;
        }
        
    }

    form{
        padding: 20px;
    }
    
}