/* mobile- imagenes moda */
@media only screen and (max-width:400px) and (min-width: 580px){
    
   
    video{
        width: auto;
    }

    .c-info{
        display: none;
    }
    .wpp{
        display: none;
    }
}

/* mobile-portrait */
@media only screen and (min-width: 320px) and (max-width:479px){

   header{
       img{
           width: 30%;
       }    
   } 
 .h2{
     color: rgb(94, 92, 105);
     font-size: 30px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .wpp{
  display: none;
 }
 .home-vestidos .home-conjunto .home-ri{
     width: 100%;
 }
video{
    width: auto;
}

.wpp{
    display: none;
}

}
@media (max-width:768px){
    .info-footer{
        display: none;
    }

   .container_maps{
       display: flex;
       flex-direction: column;
       .list-contat{
        font-size: 20px;
        
    }
       .form{
        overflow-x: hidden;
    }
   }
    
}

@media (min-width:768px) {

    /*moda*/
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery__item:nth-child(3) {
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(4) {
        grid-column-start: span 3;
    }
    .gallery__item:nth-child(5) {
        grid-row-start: span 3;
    }
    .gallery__item:nth-child(9) {
        grid-column-start: span 3;
    }

}

@media (max-width:1030px){
        
    /*footer*/
    .contenedorfooter{
        margin: 0;
        padding: 0;
        .columna-1{
            margin: 0;
            padding: 0;
        }
        .columna-3{
            display: none;
        }
    }
}
@media (max-width:580px){

    /*Contacto*/

    article .c-info{
        display: none;
    }
    article .spotify{
        display: none;
    }
    .footer-form{
        display: none;
    }

  
    /*tabla de talles*/
    .sect-tt{
        margin: 70px;
    
        h2{
            font-size: 20px;
            font-family: 'Dancing Script', cursive;
            letter-spacing: 5px;
        }
    
        tr{
            font-family: 'Dancing Script', cursive;
            font-size: 20px;
        }
    }

    .wpp{
        display: none;
    }
}

/* Queries en moda mobile-portrait*/
